<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prototype.Express">
    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Express"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="orderprojectexpress.prototype.Express.Activity.HistoryActivity"></activity>
        <activity android:name="orderprojectexpress.prototype.Express.Activity.NotificationActivity" />
        <activity android:name="orderprojectexpress.prototype.Express.Activity.OrderReceivedActivity" />
        <activity android:name="orderprojectexpress.prototype.Express.Activity.BasketActivity" />
        <activity android:name="orderprojectexpress.prototype.Express.Activity.AddActivity" />
        <activity android:name="orderprojectexpress.prototype.Express.Activity.MenuActivity" />
        <activity android:name="orderprojectexpress.prototype.Express.Activity.RestaurantsActivity" />
        <activity android:name="orderprojectexpress.prototype.Express.Activity.LoginActivity" />
        <activity android:name="orderprojectexpress.prototype.Express.Activity.RegisterActivity" />
        <activity android:name="orderprojectexpress.prototype.Express.Activity.MainActivity" />
        <activity android:name="orderprojectexpress.prototype.Express.Activity.ProfileActivity" />
        <activity android:name="orderprojectexpress.prototype.Express.Activity.QRActivity" />
        <activity android:name="orderprojectexpress.prototype.Express.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>